body {
    font-family: 'Arial', sans-serif;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    padding: 1.25rem;
}

.card-body {
    height: 300px; /* Ajusta la altura según tus necesidades */
}
